<nav>
    <div class="nav-left">
        <a href="/"><h2>VOC.</h2></a>
    </div>
    <div class="nav-right">
        <ul>
            <a href="/weeklytest/1"><li>weekly test</li></a>
            <a href="/unitVoc/1"><li>unit voc</li></a>
            <a href="/fav"><li><i class="fa fa-heart"></i> fav</li></a>
            <a href="/login"><li><i class="fa fa-user"></i> LOGIN</li></a>
        </ul>
    </div>
</nav>